<a href="https://colab.research.google.com/github/ViswaAvailable/datasciencecoursera/blob/master/for_students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import re
from datetime import datetime as dt
import time



df  = pd.read_csv('meetingAttendance_16_07_2020.tsv', delimiter='\t')

print(df.columns)

Index(['Full Name', 'User Action', 'Timestamp'], dtype='object')

In [72]:
name=df['Full Name'].str.split('-').tolist()

df1 = pd.DataFrame(name, columns=['names','Roll No','Index'])
df1.drop(['Index'], axis=1,inplace=True)
df1.dropna()

                               names              Roll No
1      Achyuthuni Venkata Sidhartha    [CB.EN.U4ECE17302]
2              Pochana Srikar Reddy    [CB.EN.U4ECE17340]
3                         Gowtham M    [CB.EN.U4ECE17121]
4   Bhamidipati V S Ananda Srivatsa    [CB.EN.U4ECE17531]
5                   Prasanthi Vanga    [CB.EN.U4ECE17502]
..                               ...                  ...
93                         Aditya S    [CB.EN.U4ECE17303]
94            Siragam Ram Sai Pavan    [CB.EN.U4ECE17158]
95            Siragam Ram Sai Pavan    [CB.EN.U4ECE17158]
96                     Sakthivel  V    [CB.EN.U4ECE17156]
97                        Chithra R    [CB.EN.U4ECE17118]

[95 rows x 2 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [19]:

attendance = df_1['Full Name'].unique()
#print(attendance)
#print(df_1.columns)

In [5]:
def rounder(t):
    if t.minute >= 30:
        return t.replace(second=0, microsecond=0, minute=0, hour=t.hour+1)
    else:
        return t.replace(second=0, microsecond=0, minute=0)

In [6]:
time = df.iloc[0]['Timestamp']
date = dt.strptime(time, "%d/%m/%Y, %H:%M:%S")
date = rounder(date)
class_date  = dt.strftime(date,'%b %d, %Y')
class_time = dt.strftime(date, "%H:%M")
print('date:', class_date, 'time: ', class_time)

date: Jul 16, 2020 time:  17:00